table {
  margin-top: 20px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
}

td {
  text-align: center;
  border: 1px solid black;
}

.table-row:hover {
  color: #0059b3;
  font-weight: bolder;;
}

.table-header {
  font-weight: bolder;
  color: white;
  background-color: #0059b3;
}

#assert-sum-table {
  width: 800px;
  margin: auto;
}
