table {
  margin-top: 20px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
}

td {
  text-align: center;
  border: 1px solid black;
}

.table-row:hover {
  color: #0059b3;
  font-weight: bolder;;
}

.table-header {
  font-weight: bolder;
  color: white;
  background-color: #0059b3;
}

#assert-sum-table {
  width: 800px;
  margin: auto;
}

#latency-filters {
  width: 1000px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#latency-filter-refresh {
  margin-top: 20px;
}
